prestashop/cache/smarty/cache/*
!prestashop/cache/smarty/cache/index.php
prestashop/cache/smarty/compile/*
!prestashop/cache/smarty/compile/index.php
prestashop/cache/tcpdf/*
!prestashop/cache/tcpdf/index.php

prestashop/log/*.log

prestashop/img/tmp/*
!prestashop/img/tmp/index.php

prestashop/tools/smarty*/cache/*.php
!prestashop/tools/smarty*/cache/index.php
prestashop/tools/smarty*/compile/*.php
!prestashop/tools/smarty*/compile/index.php

__pycache__/
