cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/tcpdf/*
!cache/tcpdf/index.php

log/*.log

img/tmp/*
!img/tmp/index.php

tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php